
@red: #8c2517;
@fadedred: #692F27;
@darkred: #5B1108;
@peach: #C5584A;
@pink: #C5766B;

@blue: #114857;
@grayblue: #1A3941;
@darkblue: #062D39;
@lightblue: #4494AB;
@lighterblue: #5F9AAB;

@goldbrown: #8c6a17;
@graybrown: #695627;
@brown: #5B4208;
@sand: #C5A14A;
@tan: #C5AB6B;

@darkgray: #2e2e2e;
@lightgray: #cccccc;
@lightergray: #d1d1d1;
@white: #ffffff;

/*
 * Vintage Modern
 *
 * color pallette provided by:
 * ericaspooner colourlovers.com
 */

// @red: #8C2318;
// @knoll: #5E8C6A;
// @green: #88A65E;
// @cantalope: #BFB35A;
// @gold: #F2C45A;
// @lightblue: #dee4f6;
// @darkgray: #2e2e2e;
// @lightgray: #cccccc;
// @white: #fff;




/*
 * Numb
 */
//
//@numbPurpGrey: #75616B;
//@numbBabyBlue: #BFCFF7;
//@numbBlue: #DCE4F7;
//@numbCream: #F8F3BF;
//@numbRed: #D34017;
//@numbNegative: @numbBlue;

/*
 * Good Friends
 */

//@gfTan: #D9CEB2;
//@gfEarth: #948C75;
//@gfGrey: #D5DED9;
//@gfBrown: #7A6A53;
//@gfBlue: #99B2B7;
//@gfNegative: #fff;

/*
 * Adrift in Dreams
 */

//@dreamsLtGreen: #CFF09E;
//@dreamsSeafoam: #A8DBA8;
//@dreamsGreener: #79BD9A;
//@dreamsTurq: #3B8686;
//@dreamsBlue: #0B486B;
//@dreamsNegative: #fff;