/*
 * 	Styling for the header, footer, and general page shape
 */
html {
 	background-color: @siteBackground;
 	color: @darkgray;
 	font-family: @font;
 	height: 100%;
 	width: 100%;

 	body {
 		margin: 0;
 		// overflow: hidden;
 	}

 	.main {
 		position: absolute;
 		top: @headerHeight;
 		width: 100%;
 		padding: 8px;
 	}

 	#topicBrowser {
 		background-color: @lightgray;
 		position: fixed;
 		bottom: 0;
 		left: 8px;
 		width: (@topicBrowserWidth - 6);
 		@media screen and (max-width: @maxWidth) {
			width: (@topicBrowserWidthSmall - 6);
		}

 		.tab {
 			position: relative;
 			height: 40px;
 			bottom: 0px;
 			text-align: center;
			font-size: 26px;
			line-height: 26px;
			background-color: @red;
			color: @white;
			cursor: pointer;

			span {
				vertical-align: middle;
				display: inline-block;
			}

 			.symbol {

 			}

 			.label {
 				padding-left: 20px;
 			}
 		}
 	}

 	#notifications {
 		position: fixed;
 		bottom: 0;
 	}

 	#warnRing {
 		position: fixed;
 		width: 400px;
 		left: 50%;
 		margin-left: -200px;
 		top: 200px;
 		z-index: 11;
 	}
 }

.header {
	top: 0px;
	height: @headerHeight;
	position: fixed;
	width: 100%;
	background-color: @headerBackground;
	color: @headerSecondaryText;
	font-size: @headerSecondaryFontSize;
	z-index: 2;

	.logo {
		font-size: @logosize;
		float: left;
		margin-top: 12px;
		margin-left: 40px;
		color: @logoColor;
		text-decoration: none;
	}

	.headerRight {
		position: fixed;
		right: 200px;
		top: 10px;

		&.userArea {
			.userName {
				.name {
					margin-left: 4px;
				}
			}

			.signOut {
				position: fixed;
				right: @userCountRight;
				top: @signOutTop;
			}
		}

		&.buttons {
			.join {
				float: right;
				margin-right: 20px;
			}

			.signIn {
				float: right;
			}
		}
	}

	#usersOnline {
		position: fixed;
		right: @userCountRight;
		top: (@headerHeight - 26px);
	}
}

/*
 *
 * Global Classes
 *
 */

 .btn {
 	background-color: @buttonBackground;
 	border: 2px solid @buttonBorder;
 	text-decoration: none;
 	color: @buttonColor;
 	padding: 4px;
 	margin: 2px;
 }

 a {
 	color: @linkColor;

 	&:hover {
 		color: @linkHoverColor;
 		background-color: linkHoverBackgroundColor;
 	}
 }

 /*
  * Splash page
  *
  */

.staticPage {
	margin: 40px auto;
	max-width: 900px;
	font-size: 18px;
	line-height: 22px;
	overflow: auto;
	z-index: 0;

	.title {
		font-size: 28px;
		font-weight: bold;
	}

	.linkEnd {
		&:after {
			content: ' ';
		}
	}

	.afterLink {
		&:before {
			content: '.';
		}
	}

	&.splash {
		div {
			margin: 10px;
		}
	}

	&.terms {
		.section {
			margin: 20px 0;

			div {
				margin: 6px 0;
			}

			.head {
				font-weight: bold;
				font-size: 22px;
				margin-bottom: 10px;
			}

			.subhead {
				font-weight: bold;
				margin-top: 12px;
			}

			.descrip {
				margin-bottom: 18px;
			}
		}
	}
}

.fade {
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}

#cover {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: none;
	z-index: 10;
}

#footer {
	padding: 4px;
	background-color: @lightgray;
	font-size: 12px;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 300px;

	.links {
		margin-bottom: 6px;

		a {
			margin-right: 10px;
		}
	}

	.questions {
		&:after {
			content: ' ';
		}
	}

	.after {
		&:before {
			content: ' ';
		}
	}
}

.hidden {
	display: none;
}

/*
 * Scrolling
 */
.infiniteScroll {
	overflow: auto;
}
