/*
	Styling for the header, footer, and general page shape
*/

.header {
	
	height: 80px;
	
	.logo {
		font-size: 32px;
		float: left;
		margin-top: 12px;
		margin-left: 40px;
	}
	
	.buttons {
		float: right;
		width: 400px;
		margin-top: 20px;
		
		.join {
			width: 150px;
			float: right;
			margin-right: 20px;
		}
		
		.signIn {
			float: right;
			width: 100px;
		}
	}
}