/*
	Styling for the header, footer, and general page shape
*/

.header {
	
	.logo {
		font-size: 32px;
	}
	
	.buttons {
		float: right;
		width: 400px;
		
		.join {
			width: 150px;
		}
		
		.signIn {
			float: right;
			width: 100px;
		}
	}
}