/*
 * Styling for posts
 */
 
 .postContainer {
 	width: 300px;
 	
 	.post {
		display: inline-block;
		padding-bottom: 10px;
 		
 		.body {
 			background-color: #ddd;
 			border: 1px solid #f00;
 			padding: 4px;
 			min-width: 80px;
 		}
 	 	.postedAt {
 			float: right;
 		}
 	}
 }
 		
  	