/*
 * Styling for posts
 */
 
 .post {
 	max-width: 300px;
 		
  	.body {
 		background-color: #ddd;
 		border: 1px solid #f00;
 		padding: 4px;
 		display: inline-block;
 	}
 	
 	.postedAt {
 		margin-bottom: 0;
 	}
 }