.topicPreviewHolder {
	height: @topicPreviewHolderHeight;
	width: 400px;
	margin-left: 30px;

	.topicPreview {
		margin: 10px 0;

		&:hover {
			background-color: @topicPreviewHover;
		}
	}
}

.topic {
	width: @topicWidth;
	margin: 0 auto;

	.topicHeader {
		float: left;
		width: inherit;
		color: @topicHeaderText;
		background-color: @topicHeaderBackground;
	}

	.posts {
		float: left;
		width: inherit;
		background-color: @topicBackground;
		height: @topicPostsHeight;
	}

	.postFormArea {
		float: left;
		width: inherit;
		background-color: @white;
	}
}