.topicPreviewHolder {
	height: @topicPreviewHolderHeight;
	@media screen and (max-height: @maxHeight) {
		height: @topicPreviewHolderHeightSmall;
	}
	width: 400px;
	margin-left: 30px;

	.topicPreview {
		margin: 10px 0;

		&:hover {
			background-color: @topicPreviewHover;
			cursor: pointer;
		}
	}
}

.topic {

	.topicHeader {
		width: @topicBrowserWidth;
		@media screen and (max-width: @maxWidth) {
			width: @topicBrowserWidthSmall;
		}
		float: left;
		color: @topicHeaderText;
		background-color: @topicHeaderBackground;
	}

	.topicMain {
			float: left;
			width: @topicWidth;
			@media screen and (max-width: @maxWidth) {
				width: @topicWidthSmall;
			}

		.posts {
			background-color: @topicBackground;
			height: @topicPostsHeight;
			@media screen and (max-height: @maxHeight) {
				height: @topicPostsHeightSmall;
			}
		}

		.postFormArea {
			float: left;
			width: inherit;
			background-color: @white;
		}
	}
}