@import "colors.less";

/*
 * colors
 */
 @siteBackground: @white;
 @headerBackground: @cantalope;
 @logoColor: @red;
 @buttonBackground: @knoll;
 @buttonColor: @red;
 @buttonBorder: @white;
 @text: @darkgray;

// links
@linkColor: @red;
@linkHoverColor: @white;
@linkHoverBackgroundColor: @red;

@headerSecondaryText: @knoll;

@topicPreviewHover: @green;

@topicHeaderBackground: @gold;
@topicHeaderText: @knoll;
@topicBackground: @lightblue;

@myPostColor: @gold;
@theirPostColor: @green;
@postBorder: @darkgray;

/*
 * fonts
 */
 @font: Arial, Helvetica, sans-serif;
 @logosize: 36px;
 @headerSecondaryFontSize: 18px;

/*
 * sizes
 */

// heights
@headerHeight: 70px;
@topicPostsHeight: 600px;
@topicPreviewHolderHeight: 600px;

@headerHeightSmall: 50px;
@topicPostsHeightSmall: 400px;
@topicPreviewHolderHeightSmall: 400px;

@maxHeight: 700px;

// widths
@topicBrowserWidth: 450px;
@topicHeaderWidth: 400px;
@topicWidth: 800px;

@topicBrowserWidthSmall: 350px;
@topicHeaderWidthSmall: 250px;
@topicWidthSmall: 600px;

@maxWidth: 1300px;


/*
 * positions
 */
 @userCountRight: 30px;
 @signOutTop: 7px;