@import "colors.less";

/*
 * colors
 */
@siteBackground: @white;

@text: @darkgray;
@lighttext: @lightgray;


/*

HEADER

*/
@headerBackground: @lightblue;
@headerSecondaryText: @darkred;
@logoColor: @darkred;

// footer
@footerColor: @white;

/*

LINKS AND BUTTONS

*/

@buttonBackground: @darkred;
@buttonColor: @white;
@buttonBorder: @sand;
@buttonHoverColor: @tan;

@linkColor: @brown;
@linkHoverColor: @tan;


/*

TOPIC BROWSING

*/

@topicBrowserBackground: @blue;
@topicPreviewHover: @goldbrown;

@topicPreviewLink: @red;
@topicPreviewLinkHover: @red;

@topicPreviewCountBackground: @red;

/*

THE TOPIC

*/
@topicHeaderBackground: @blue;
@topicHeaderText: @lighttext;
@topicBackground: @tan;

@topicHeaderLink: @tan;
@topicHeaderLinkHover: @red;

@topicText: @lighttext;

// posts
@postTextColor: @lightergray;

@myPostColor: @brown;
@theirPostColor: @peach;
@postBorder: @darkblue;

@myPostAnonColor: @graybrown;
@theirPostAnonColor: @peach;

@postNameColor: @lightergray;

@warnLinkAnonColor: @fadedred;
@warnLinkAnonHover: @tan;

// post form
@postingAreaColor: @pink;

/*
 * fonts
 */
 @font: Arial, Helvetica, sans-serif;
 @logosize: 36px;
 @headerSecondaryFontSize: 18px;

/*
 * sizes
 */

// heights
@headerHeight: 70px;
@topicPostsHeight: 600px;
@topicPreviewHolderHeight: 600px;

@headerHeightSmall: 50px;
@topicPostsHeightSmall: 400px;
@topicPreviewHolderHeightSmall: 400px;

@maxHeight: 600px;

// widths
@topicBrowserWidth: 450px;
@topicHeaderWidth: 400px;
@topicWidth: 800px;

@topicBrowserWidthSmall: 350px;
@topicHeaderWidthSmall: 250px;
@topicWidthSmall: 600px;

@maxWidth: 1300px;


/*
 * positions
 */
 @userCountRight: 30px;
 @signOutTop: 7px;