extends layout

block content
	div.header 
		div.logo obiechat
		div.buttons
			div.join 
				a(href='/', class='joinBtn') Join Now
			div.signIn
				a(href='/', class='signInBtn') Sign In
	div.main
		div IN INDEX
		div.postFormArea
			include postForm
		div POSTS
		each post in posts
			div.post
				div.body= post.body
				div.postedAt= post.createdDate