extends layout

include mixins/topicHelpers

block content
	#topicHolder
		.topic
			.topicHeaderContainer
			.topicMain
				div(class='posts infiniteScroll')
				div.postFormArea

	#topicBrowser
		.previewsAndCreateRegion
			a(href='/topic/new', class='newTopicLink') Create a Discussion
			.topicPreviewContainer
				div(class="topicPreviewHolder infiniteScroll")
					mixin topicPreviews(topics)
		div(class='tab', id='topicListToggle')
			span(class='symbol open') -
			span(class='label') Discussion Browser