extends layout

block content
	div.header 
		div.logo obiechat
		div.buttons
			div.join 
				a(href='/', class='joinBtn') Join Now
			div.signIn
				a(href='/', class='signInBtn') Sign In
	div.main
		div.postFormArea
			div There should be a post form here later
			// create a post form
		each post in posts
			div.post A post!
				div.body= post.body
				div.postedAt= post.createdAt