doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.header 
			div.logo obiechat
			div.buttons
				- if (user && user.name)
					div.userArea
						div.email= user.email
						div.name= user.displayName
				- else
					div.join 
						a(href='/join', class='join btn') Join Now
					div.signIn
						a(href='/auth/google', class='signIn btn') Sign In
		div.main
			block content