doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.header 
			div.logo obiechat
		div.buttons
			div.join 
				a(href='/', class='joinBtn') Join Now
			div.signIn
				a(href='/', class='signInBtn') Sign In
		div.main
			block content