doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(data-main='/scripts/main.js', src='/components/requirejs/require.js')
	body
		.header
			a(href='/', class='logo') yeo[r] voice
			- if (user && user.name)
				div(class='userArea headerRight')
					.userName
						span.label Posting as:
						span.name
							a(href='/user/#{user._id}' class='userProfileLink')= user.displayName
					a(href='/signOut', class='signOut btn') Sign Out
			- else
				div(class='userArea headerRight')
					.signIn
						a(href='/auth/google', class='signIn btn') Sign In
			#usersOnline
		.main
			block content
		#notifications
			.general
			.errors
			.topic
		#warnRing
		#cover
		#footer
			.contact
				span.questions Do you have questions, comments, or concerns? Send an email to
				a(href='mailto:yeorvoice@gmail.com') yeorvoice@gmail.com
				span.after and a site admin will do their best to respond promptly!
			.links
				a(href='/terms', class='termsLink') Terms of Use
				a(href='/splash', class='aboutLink') Intro
				a(href='/about', class='otherStuffLink') About