extends layout

include mixins/formHelpers

block content
	form(name='topic', action='/topic', method="post")
		div.name
			mixin text('name', 'Topic Name', 'name')
		div.checkboxes
			div.anon
				mixin checkbox('anonymous', 'anonymous', 'Anonymous')
		div.description
			mixin textArea('description', 'Description', false)
		div.submit
			mixin submit('Launch Topic')