extends layout

include mixins/formHelpers

block content
	form(name='topic', action='/topic', method="post")
		.title Create a new discussion
		div(class='name section')
			mixin text('name', 'Discussion Name')
		div(class='checkboxes section')
			div.anon
				mixin checkbox('anonymous', 'anonymous', 'Make it anonymous')
		div(class='description section')
			mixin textArea('description', 'Description', false)
		div(class='submit section')
			mixin submit('Launch Discussion')