extends layout

block content
	div(class="relevantThings staticPage")
		.title Some not so fond memories that should not be forgotten, motivations, and reflections.
		div(class="articles section")
			.article
				.nameArea
					span.intro From the Oberlin Review:
					span.name Oberlin's Community Created by its Students
				.authorArea
					span.intro By:
					span.authors STEVE BAGLEY, LEE BUTLER, MARSHALL DUER-BALKIND, DIANA WUEGER, TONY FORBES, LAUREN HAYES,ANDREW SINSHEIMER, ARIES INDENBAUM, JESSICA MARCRUM and JESSICA RAYNOR STURDIVANT
				.quoteArea
					.quote "These started as a place to release anxieties, secret crushes and frustrations. However, without exception, they rapidly became hateful environments."
					.quote "If you do value spaces like ObieTalk, then don’t sit idly by, but call out the hate and defend one another."
				.articleLink
					a(href="http://www.oberlinreview.org/article/Oberlins-community-created-students/") Full article...

			.article
				.nameArea
					span.intro From the Oberlin Review:
					span.name Hateful Speech Not ‘Isolated Incident’
				.authorArea
					span.intro By:
					span.authors THE EDMONIA LEWIS CENTER
				.quoteArea
					.quote "A century and a half later, we continue to witness shameful incidents, such as the racial and homophobic graffiti on Dascomb’s walls ... as well as constant vitriolic speech found on anonymous web forums like ObieTalk."
				.articleLink
					a(href="http://www.oberlinreview.org/article/Oberlins-community-created-students/") Full article...

			.article
				.nameArea
					span.intro From the Oberlin Review:
					span.name Vandalism, Harassment Inspire Systemic Reform
				.authorArea
					span.intro By:
					span.authors ROSEMARY BOEGLIN and JULIA HERBST
				.quoteArea
					.quote "Adams-Keane initially tried to ban accounts associated with those IP addresses, but nearly identical material quickly reappeared under different addresses."
				.articleLink
					a(href="http://www.oberlinreview.org/article/campus-high-alert-student-organizers-targeted/") Full article...

		div(class="motivations section")
			.head YeorVoice project reflections and motivations
			p For all its bad parts, ObieTalk provided something interesting.
			p Commonality of the community.
			p Provide a framework to eliminating the bad but providing the good.
			p Learning experience.
			p If you have any questions, contributions, concerns, or anything at all you’d like to speak to me about.
