doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.splash
			div.welcome Welcome to the Beta.
			a(href='/auth/google', class='signIn btn', id='splashSignIn') Sign In
			div.visitor Don't have access? Shoot an email over to
				div
					a(href='mailto:yeorvoice@gmail.com') yeorvoice@gmail.com
				span to find out more or get involved!