extends layout

block content
	div(class="splash staticPage")
		.welcome Welcome to Yeo(r) Voice!
		.about YeorVoice.com (internally known as “Yeo(r) Voice”) provides an online space for members of the Oberlin College community to express themselves online. Anyone with access to the site can create, view, and post in discussions. Discussions may be anonymous. As a member of the Yeo(r) Voice community, you are responsible for the content you choose to post, whether or not it’s anonymous. YeorVoice.com is built from the belief that the students of Oberlin College have the social consciousness and community spirit to use a site responsibly that provides spaces for anonymous content responsibly. However, in the hopefully rare cases where members of the community choose to say things on Yeo(r) Voice that run counter to this spirit, Yeo(r) Voice users have been provided the means to promptly remove this content. All users of Yeo(r) Voice have the authority to deem content unacceptable for any reason. If enough users agree that the content was inappropriate it will not be displayed anywhere on YeorVoice.com. Should a single user repeatedly say things in discussions on YeorVoice.com that users choose to remove, Yeo(r) Voice reserves the right to deny this user access to the site for an indeterminate amount of time.
		.disclaim YeorVoice.com does not belong to Oberlin College and does not seek to represent it. Access is limited to users with Oberlin College email accounts using a publicly available authentication service provided by Google.
		.outreach
			span.linkEnd If it becomes clear that the Oberlin College student body does not want YeorVoice.com online, it will be taken offline either permanently or until it can be shown to conform to a set of wants determined by the Oberlin community. Any feedback about the site is strongly encouraged and should be sent to
			a(href='mailto:yeorvoice@gmail.com') yeorvoice@gmail.com
			span.afterLink