extends layout

include mixins/postHelpers

block content
	div.topic
		div.topicHeaders
			div.name= topic.name
			div.createdAt= topic.createdDate
		each post in topic.posts
			mixin postView(post)
		div.postFormArea
			mixin postForm(topic.slug)