extends layout

include mixins/postHelpers
include mixins/topicHelpers

block content
	div.topic
		mixin topicHeader(topic)
		div(class='posts infiniteScroll')
			if postPage
				mixin postPageView(postPage)
		div.postFormArea
			mixin postForm(topic.slug)