extends layout

include mixins/postHelpers
include mixins/topicHelpers

block content
	.topic
		mixin topicHeader(topic)
		.topicMain
			div(class='posts infiniteScroll')
				if postPage
					mixin postPageView(postPage)
			div.postFormArea
				mixin postForm(topic.slug)