/*
 * Vintage Modern
 * 
 * color pallette provided by:
 * ericaspooner colourlovers.com
 */
/*
 * Numb
 */
/*
 * Good Friends
 */
/*
 * Adrift in Dreams
 */
/*
 * colors
 */
/*
 * fonts
 */
/*
 * sizes
 */
/*
 * positions
 */
/*
 * 	Styling for the header, footer, and general page shape
 */
html {
  background-color: #ffffff;
  color: #2e2e2e;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
html body {
  margin: 0;
  overflow: hidden;
}
html .main {
  position: fixed;
  top: 70px;
  width: 100%;
}
html #topicBrowser {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 450px;
}
html #topicBrowser .tab {
  position: relative;
  height: 20px;
  bottom: 0px;
}
html #topicBrowser .tab .symbol {
  position: relative;
  left: 0;
}
html #topicBrowser .tab .label {
  position: relative;
  right: 0;
}
html #notifications {
  position: fixed;
  bottom: 0;
}
html #warnRing {
  position: fixed;
  bottom: 0;
  right: 0;
}
.header {
  top: 0px;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: #bfb35a;
  color: #5e8c6a;
  font-size: 18px;
}
.header .logo {
  font-size: 36px;
  float: left;
  margin-top: 12px;
  margin-left: 40px;
  color: #8c2318;
  text-decoration: none;
}
.header .headerRight {
  position: fixed;
  right: 200px;
  top: 10px;
}
.header .headerRight.userArea .userName .name {
  margin-left: 4px;
}
.header .headerRight.userArea .signOut {
  position: fixed;
  right: 30px;
  top: 7px;
}
.header .headerRight.buttons .join {
  float: right;
  margin-right: 20px;
}
.header .headerRight.buttons .signIn {
  float: right;
}
.header #usersOnline {
  position: fixed;
  right: 30px;
  top: 44px;
}
/*
 *
 * Global Classes
 *
 */
.btn {
  background-color: #5e8c6a;
  border: 2px solid #ffffff;
  text-decoration: none;
  color: #8c2318;
  padding: 4px;
  margin: 2px;
}
a {
  color: #8c2318;
}
a:hover {
  color: #ffffff;
  background-color: linkHoverBackgroundColor;
}
/*
  * Splash page
  *
  */
.splash {
  margin: 100px auto;
  width: 500px;
}
.splash .welcome {
  margin: 10px;
}
.splash #splashSignIn {
  margin: 10px;
  padding: 6px;
}
.splash .visitor {
  margin: 10px;
}
/*
 * Scrolling
 */
.infiniteScroll {
  overflow: auto;
}
/*
 * Styling for posts
 */
.postContainer {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.postContainer .post.mine {
  text-align: right;
  margin-right: 5px;
}
.postContainer .post.mine .postInner {
  margin-left: auto;
  background-color: #f2c45a;
  margin-right: 0;
}
.postContainer .post.other {
  text-align: left;
  margin-left: 5px;
}
.postContainer .post.other .postInner {
  background-color: #88a65e;
}
.postContainer .post.other .dateContainer {
  text-align: right;
}
.postContainer .post .postInner {
  border: 1px solid #2e2e2e;
  padding: 4px;
  min-width: 80px;
  width: 300px;
}
.postContainer .post .postInner .author {
  font-weight: 700;
  margin: 0px 4px;
}
.postContainer .post .postInner .body {
  white-space: pre-line;
}
.postContainer .post .postInner .dateContainer {
  font-size: 11px;
}
/*
 * post form
 *
 */
form[name=post] textarea {
  width: 300px;
}
.topicPreviewHolder {
  height: 600px;
  width: 400px;
  margin-left: 30px;
}
@media screen and (max-height: 700px) {
  .topicPreviewHolder {
    height: 400px;
  }
}
.topicPreviewHolder .topicPreview {
  margin: 10px 0;
}
.topicPreviewHolder .topicPreview:hover {
  background-color: #88a65e;
  cursor: pointer;
}
.topic .topicHeader {
  width: 450px;
  float: left;
  color: #5e8c6a;
  background-color: #f2c45a;
}
@media screen and (max-width: 1300px) {
  .topic .topicHeader {
    width: 300px;
  }
}
.topic .topicMain {
  float: left;
  width: 800px;
}
@media screen and (max-width: 1300px) {
  .topic .topicMain {
    width: 600px;
  }
}
.topic .topicMain .posts {
  background-color: #dee4f6;
  height: 600px;
}
@media screen and (max-height: 700px) {
  .topic .topicMain .posts {
    height: 400px;
  }
}
.topic .topicMain .postFormArea {
  float: left;
  width: inherit;
  background-color: #ffffff;
}
