include formHelpers

mixin postView(post)
	div.postContainer
		div.post
			- if (post.creatorName)
				span.author= post.creatorName 
			span.body= post.body
		div.dateContainer
			span.postedAt= post.readableCreatedDate
		
mixin postForm(slug)
	form(name='post', action='/topic/#{slug}/post', method="post")
		mixin text('body', 'Reply', 'body')
		mixin submit('Post')