include formHelpers

mixin postView(post)
	div.postContainer
		div.post
			div.body= post.body
			div.postedAt= post.readableCreatedDate
		
mixin postForm(slug)
	form(name='post', action='/topic/#{slug}/post', method="post")
		mixin text('body', 'Reply', 'body')
		mixin submit('Post')